<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899206147921-a8vd9g515sk5i634rt2dch1h2mg2s566.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899206147921-a8vd9g515sk5i634rt2dch1h2mg2s566</string>
	<key>API_KEY</key>
	<string>AIzaSyCAYpX_1hmN76-RKHkQ3ob-zVZTITTETsc</string>
	<key>GCM_SENDER_ID</key>
	<string>899206147921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visikard.processorder</string>
	<key>PROJECT_ID</key>
	<string>process-order-fa5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>process-order-fa5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899206147921:ios:4a3c058a7c956412aa6d70</string>
	<key>DATABASE_URL</key>
	<string>https://process-order-fa5ad.firebaseio.com</string>
</dict>
</plist>